.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

app-header {
  width: 100%;
}

.header-controls {
  display: flex;
  gap: 5px;
}
