
<div class="root" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="root">
  <main class="modal-body">
    <div class="modal-body__close-btn-box">
      <app-button
        [rightIconName]="'faWindowClose'"
        (click)="closeWithResult(undefined)"
      ></app-button>
    </div>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <div class="controls">
      <app-button
        [text]="okButtonText"
        (click)="closeWithResult(true)"
      ></app-button>
      <app-button
        [text]="cancelButtonText"
        (click)="closeWithResult(false)"
      ></app-button>
    </div>
  </main>
</div>
    </div>
  </div>
</div>

