<!-- <form #f="ngForm" class="form-inline my-8 my-lg-0" (ngSubmit)="onSubmit(f)">
  <fieldset class="search-row">
    <legend>Search:</legend>

    <div class="input-box input">
      <input
        type="search"
        [(ngModel)]="input"
        name="input"
        class="form-control"
        [placeholder]="placeholder"
      />
    </div>

    <app-button text="Search"></app-button>
  </fieldset>
</form> -->

     
<form #f="ngForm"  class="form-inline my-8 my-lg-0" (ngSubmit)="onSubmit(f)" class="form-inline my-8 my-lg-0">
  <input
  type="search"
  [(ngModel)]="input"
  name="input"
  style="width: 80%;"
  class="form-control"
  [placeholder]="placeholder"
/>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>